<% @lists.each do |list| %>

<div>
	<table border="1">
	  <tr>
	    <th>Key</th>
	    <th>Value</th>
	  </tr>
	<% list.each do |x, y| %>
		<tr>
  		<td><%= x %></td>
  		<td>

    		<% if y.is_a? Hash %>

		    	<table>
		     	<% y.each do |a, b| %>
			    	<tr>
				      <td><%= a %></td>
				      <td><%= b %></td>
				    </tr>
			    <% end %>
		      </table>

     		<% else %>
    			<%= y %>
    		<% end %>

  		</td>
		</tr>
	<% end %>
	</table>
</div>
<% end %>